* {
  margin: 0;
  padding: 0;
}

main {
  margin-bottom: 200px;
}

body {
  font-family: "Francois One", sans-serif;
  background-color: #0c1a3f;
}

.navbar-brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 30px;
  margin-left: 30px;
}

.navbar {
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #c2c2c2;
  padding: 20px 0px;
}

.nav-item a {
  padding-left: 5px;
  transition: 0.4s;
}
.nav-item a:hover {
  font-size: 26px;
}

.contactoAncla {
  background-color: #256cad;
  border-radius: 10px;
  border: solid 0.5px #303030;
  margin-right: 30px;
}

.footer {
  background-color: rgb(165, 165, 165);
  padding: 20px;
  text-align: center;
}
.footer p {
  font-size: 18px;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
.social-icons li {
  display: inline-block;
  margin: 0 5px;
}
.social-icons img {
  width: 40px;
  height: 40px;
}

.footerForm {
  background-color: rgb(165, 165, 165);
  padding: 20px;
  text-align: center;
  margin-top: -20px;
}
.footerForm h4 {
  font-size: 18px;
}

.LogoNav {
  width: 5rem;
}

.c-item {
  height: 1000px;
  margin-bottom: 30px;
  object-fit: cover;
}

.inicio {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.inicioImagenes img {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  box-shadow: 0 2px 7px #000000;
}

.inicioImagenes img:hover {
  transform: scale(1.05);
}

.inicioModelo {
  font-size: 32px;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.autos {
  display: inline-block;
  width: 400px;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #c2c2c2;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.autos img {
  height: 300px;
  width: 100%;
}
.autos h2 {
  margin-top: 0;
  font-size: 40px;
  color: #000;
}
.autos p {
  margin-bottom: 0;
  font-size: 20px;
  color: #000;
}

.contenedor {
  text-align: center;
  margin-bottom: 100px;
}

.modelosTitulo h1 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  margin: 70px 20px;
  color: white;
}

.modelsTitulo h1 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  margin: 100px 40px;
  color: white;
}

.serviciosTitulo h1 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  margin: 120px 40px;
  color: white;
}

.nosotros {
  display: flex;
  flex-direction: column;
}
.nosotros h1 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  margin: 70px 20px;
  color: white;
}
.nosotros .Nosotrosvision, .nosotros .Nosotrosvalores, .nosotros .Nosotrosprincipios {
  font-size: 42px;
  text-align: left;
  font-weight: bold;
  margin: 30px 10px;
  color: white;
}
.nosotros ul li {
  list-style-type: circle;
  padding-left: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-left: 30px;
  color: white;
}

.contactoTitulo h1 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  margin: 80px 20px;
  color: white;
}

.contacto {
  width: 800px;
  background-color: #1f1f1f;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.contacto h2 {
  height: 50px;
  color: #14f9a6;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  width: 100px;
}

.controls {
  width: 100%;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
}

.botons {
  width: 100%;
  background-color: #14f9a6;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}

textarea {
  width: 100%;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* mediaquerie para tablet - 768px*/
@media screen and (max-width: 768px) {
  .contacto {
    width: 90%;
  }
  .c-item {
    height: 400px;
  }
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }
  .autos {
    width: 300px;
    height: 100%;
  }
  .inicio {
    display: flex;
    flex-wrap: wrap;
  }
  .inicioImagenes img {
    width: 350px;
    height: 300px;
  }
  .inicioModelo {
    font-size: 26px;
  }
}
/* mediaquerie para mobile */
@media screen and (max-width: 480px) {
  .autos {
    width: 90%;
    margin: 10px 0px;
  }
  .contacto {
    width: 90%;
  }
  .c-item {
    height: 200px;
  }
  .inicioImagenes {
    margin-top: 8px;
  }
  .inicioImagenes img {
    width: 300px;
    height: 250px;
  }
}

/*# sourceMappingURL=estilos.css.map */
